<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<script src="/javascripts/lib/head.load.min.js"></script>
	<script>
		head.load("//code.jquery.com/jquery-2.1.1.min.js");
        head.load("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css",
        		"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css",
        		"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js");
        
        head.load("/javascripts/global.js", "/javascripts/common.js");
        head.load("/stylesheets/style.css");
    </script>
</head>
<body>
	<%- body %>
</body>
</html>
